{% extends "base.html" %}

{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js@3.7.1/dist/chart.min.js"></script>
    <title>charting python</title>
</head>
<body>
    <div class="col=8 offset-2 my-5">
        <div class="card">
            <div class="container-fluid">
                <canvas id="myChart"></canvas>
                <form method="GET">
                    <div class="date_query">
                        <input type="date" name="begin">
                        <input type="submit" value="Send">
                    </form>
                    
                <!--
                <input oninput="updateChart(this)" type="range" id="points" value="2" min="1" max="3">
                {% for prod in products %}
                    <div class="form-check form-switch form-check-inline">
                        <input class="form-check-input" type="checkbox" id="flexSwitchCheckDefault">
                        <label class="form-check-label" for="flexSwitchCheckDefault">{{prod.name}}</label>
                    </div>
                {% endfor %}
                -->

            </div>
        </div>
    </div>

    <script>
        
        //const df3 = [x["invoice_id"] == products[3] for x in sales];
        //const products = {{products|safe}};
        const df1 = {{df1|safe}};
        const df2 = {{df2|safe}};
        //const df3 = {{df3|safe}};
        const df_labels = {{df_labels|safe}};

        const data = {
                //labels: ['Red', 'Blue', 'Yellow', 'Green', 'Purple', 'Orange'],
                labels: df_labels,
                datasets: [{
                    // label: first,
                    label: "{{products.0.name}}",
                    // data: [12, 19, 3],
                    data: df1,
                    backgroundColor: [
                        'rgba(255, 99, 132, 0.2)',
                    //    'rgba(54, 162, 235, 0.2)',
                    //    'rgba(255, 206, 86, 0.2)',
                    //    'rgba(75, 192, 192, 0.2)',
                    //    'rgba(153, 102, 255, 0.2)',
                    //    'rgba(255, 159, 64, 0.2)'
                    ],
                    borderColor: [
                        'rgba(255, 99, 132, 1)',
                    //    'rgba(54, 162, 235, 1)',
                    //    'rgba(255, 206, 86, 1)',
                    //    'rgba(75, 192, 192, 1)',
                    //    'rgba(153, 102, 255, 1)',
                    //    'rgba(255, 159, 64, 1)'
                    ],
                    borderWidth: 2
                },{
                    label: "{{products.1.name}}",
                    data: df2,
                    //data: [8, 5, 4],

                    backgroundColor: [
                    //    'rgba(134, 99, 132, 0.2)',
                    //    'rgba(154, 162, 235, 0.2)',
                    //  'rgba(25, 206, 86, 0.2)',
                    //    'rgba(45, 192, 192, 0.2)',
                    //    'rgba(253, 102, 255, 0.2)',
                        'rgba(155, 159, 64, 0.2)'
                    ],
                    borderColor: [
                    //   'rgba(255, 9, 132, 1)',
                    //    'rgba(54, 62, 235, 1)',
                    //    'rgba(255, 26, 86, 1)',
                    //    'rgba(75, 12, 192, 1)',
                        'rgba(53, 102, 255, 1)',
                    //    'rgba(25, 159, 64, 1)'
                    ],
                    borderWidth: 2
                },{
                    label: "{{products.3.name}}",
                    data: "df0",
                    //data: [56, 36, 24],
                    backgroundColor: [
                    //    'rgba(134, 99, 132, 0.2)',
                        'rgba(154, 162, 235, 0.2)',
                    //  'rgba(25, 206, 86, 0.2)',
                    //    'rgba(45, 192, 192, 0.2)',
                    //    'rgba(253, 102, 255, 0.2)',
                    //    'rgba(155, 159, 64, 0.2)'
                    ],
                    borderColor: [
                    //   'rgba(255, 9, 132, 1)',
                    //    'rgba(54, 62, 235, 1)',
                    //    'rgba(255, 26, 86, 1)',
                    //    'rgba(75, 12, 192, 1)',
                    //    'rgba(53, 102, 255, 1)',
                        'rgba(25, 159, 64, 1)'
                    ],
                    borderWidth: 3
                }]
            };
        const config = {
            type: 'bar',
            data,
            options: {
                plugins: {
                    title: {
                        display: true,
                        text: 'Chart.js Bar Chart - Stacked'
                    },
                },
                responsive: true,
                scales: {
                    x: {
                        stacked: true,
                    },
                    y: {
                        stacked: true,
                        ticks: {
                            // Include a dollar sign in the ticks

                        },
                    }
                },
            },
        };
        const ctx = document.getElementById('myChart');
        const myChart = new Chart(
            ctx, 
            config);

        // function updateChart(range) {
            // console.log(range.value)
            // console.log(myChart.config.data.labels)
            // const rangeValue = labels.slice(0, range.value);
        //      console.log(rangeValue)
        //     myChart.config.data.labels = rangeValue;
        //     myChart.update();
        // };

    </script>
    
</body>
</html>

{% endblock %}